<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">

<h1>Welcome to MeetMe</h1>
Let's get started:

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next 
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Enter Date and Time Range</h2>
  <form action="/setrange" method="post">
    Start time:
    <input type="time" name="start_clock" value="00:00:00">

  </select>

    End time:
    <input type="time" name="end_clock" value="00:00:00">

  
  <input type="text" name="daterange" size="12"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 12em" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {    ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')], 
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        }}
       );
    });
  </script>

<br /><input type="submit" value="Choose" />
</form>

    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across). 
    -->
<form action="/list_events" method="post">
  <!-- Trying to get the form submit button out of the way -->
  <!-- Submit button for once checkboxes have been checked -->
  <input type="submit" value="Submit">
{% if g.calendars is defined  %}
  {% for cal in g.calendars if cal.selected %}
        <div class="col-md-4">
          <!-- Checkboxes for each calendar, right next to their names so calendars can be selected to display busy times for. Values aren't submitted
          until submit button above is pressed -->
	   {{ cal.summary }} <input type="checkbox" name="calcheck" value={{cal.id}} /> 
          </div>
         {% if loop.index is divisibleby 1 %}
         <!-- <div class="row"> -->
          <!-- Displays events properly -->
            {% if g.events is defined %}
              {% for event in g.events %}
                {% if event.id == cal.id %}
                <h5> BUSY TIMES </h5>
                  {% for key in event.events %}
                  <!-- How the events are displayed on the webpage -->
                    <div class="row">
                     Conflict: {{ key.sum }}  Starts: {{ key.start | fmtdate }} {{ key.start | fmttime }}  Ends: {{ key.end | fmtdate }} {{key.end | fmttime}}
                   </div>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endif %}
         {% endif %}
         <!-- New Stuff -->
            {% if g.free is defined %}
                {% for time in g.free %}
                    {% if time.id == cal.id %}
                    <h5> FREE TIMES </h5>
                      {% for event in  time.free_times %}
                      <!-- Displaying Busy Events on the page -->
                          <div class="row">

                           Free time on {{ event.start| fmtdate }} from {{ event.start | fmttime }} to {{event.end | fmttime}}

                          </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
  {% endfor %}
  
<!-- </div> -->







{% endif %}



</form>
    

  </div>  <!-- container (for bootstrap) -->
  </body> </html>
