<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">

<h2>New Meeting Proposal Created</h2>
<h3>Your Chosen Meeting Times </h3>

{% for time in session.meet.times %}
<p> {{time.name}}
BEGINS: {{time.start | fmtdate}} {{time.start | fmttime}}
ENDS: {{time.end | fmtdate}} {{time.end | fmttime}}  
</p>
{% endfor %}


<br>

<div class="row">
  <h4>Share this link with meeting attendees. They will use it to note their availablity.</h4>
</div>

<p><a href="{{session.user_link}}" target="_blank">{{session.user_link}}</a></p>

<div class="row">
  <h4>Meeting Admin: follow this link to review and finalize your planned meeting. </h4>
  <p><a href="{{session.admin_link}}" target="_blank">{{session.admin_link}}</a></p>

</div>


</div>
</body>
</html>
