
<!DOCTYPE HTML>
<html lang="en"> <head>
<title>MeetMe</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
     
<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"/>
    

<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>



<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>

<body>
  <div class="container">
    <h1> Your Calendars </h1>
    {% if g.calendars is not defined %}
        <form action="/usersetrange" method="post">
            <button type="submit">Log in</button>
        </form>
    {% endif %}

    {% if g.calendars is defined %}
    <form method="POST" action="/userlist_events">
   <fieldset>
   <legend> Choose Calendars to View</legend>
      {% for cal in g.calendars %}
        <div class="col-md-4">
        {% if loop.index is divisibleby 1 %}
          <div class="row">
            <input type="checkbox" id="{{ cal.summary }}" name="interest" value="{{ cal.id }}">
            <label for="{{ cal.summary }}">{{ cal.summary }} </label>   
          </div>
          {% endif %}
          {% endfor %}
            <input type="submit" value="submit"/>
  </fieldset>
  </form>
  {% endif %}
</body>
</html>