<!DOCTYPE HTML>
<html lang="en"> <head>
<title>MeetMe</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
     
<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"/>
    
<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>
<body>

<div class="container">

<h2> Choose times for a possible meeting. </h2>
<br>

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}




    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across).
    -->
<br>

<div class="row">
  <div class="col-md-6">

{% if g.calendars is defined  %}

 
   <h4> Choose Calendars </h4>
      {% for cal in g.calendars %}
        {% if loop.index is divisibleby 1 %}
        <div class="row">
            <label for="{{ cal.summary }}">{{ cal.summary }} </label>  
          </div> 
          {% if g.events is defined %}
            {% for event in g.events %}
               {% if event.id == cal.id %}
                 <h5> BUSY TIMES </h5>
                    {% for event in event.events %}
                      {% if loop.index is divisibleby 1 %}
                        <div class="row">
                         EVENT : {{ event.sum }} BEGINS :{{event.start | fmtdate}} {{event.start | fmttime}} ENDS :{{event.end | fmtdate}} {{event.end | fmttime}}
                        </div>
                      {% endif %} 
                    {% endfor %}
               {% endif %}
            {% endfor %}
         {% endif %}
          <!-- New Stuff -->
          {% if g.free is defined %}
            {% for time in g.free %}
              {% if time.id == cal.id %}
                <h5> FREE TIMES </h5>
                  {% for event in  time.free_times %}
                    <div class="row">
                      BEGINS: {{ event.start | fmtdate}} {{ event.start | fmttime }} ENDS: {{event.end | fmtdate}} {{event.end | fmttime}}
                   </div>
                  {% endfor %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
{% endif %}
</div>

<div class="col-md-6">
  <h3> Admin's Suggested Meeting Times </h3>
  <p>Choose times that work for you</p>
  <form action="/update" method="post">
    {% for time in session.meet.times %}
  <p>
    <input type="checkbox" name="times" value="{{time.name}}"/>
    BEGINS: {{time.start | fmtdate}} {{time.start | fmttime}}
    ENDS: {{time.end | fmtdate}} {{time.end | fmttime}} 
  </p>
{% endfor %}

<br>
Your Name: <input type="text" name="name">
<button type="submit">Choose</button>
</form>
</div>

</div>
</body>
</html>